.App {
}

h1 {
  text-align: center;
  margin: 20px 0px 30px 0px;
}

h2 {
  margin: 30px 0 10px 0;
}

h3 {
 color: white;
 -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

p {
  text-align: center;
}

.Link {
  text-align: center;
  text-decoration: none;
  background-color: #d32323;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin: 20px;
}

.Center {
  text-align: center;
}

.Date {
  display: block;
}

.Ticks {
  display: block;
}

.Label {
  display: inline;
}

.Menu {
  margin: 5px;
}

select {
  display: inline;
}

button {
  margin: 0 0 0 10px;
}

.vis-container {
	display: block;
}

#map {
	position: absolute;
	width: 50%;
	height: 50%;
}

#map svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

.lasso path {
	stroke: rgb(80,80,80);
	stroke-width:2px;
}

.lasso .drawn {
	fill-opacity:.05 ;
}

.lasso .loop_close {
	fill:none;
	stroke-dasharray: 4,4;
}

.lasso .origin {
	fill:#3399FF;
	fill-opacity:.5;
}

.not_possible {
	fill: rgb(200,200,200);
}

.possible {
	fill: #EC888C;
}

.selected {
	fill: steelblue;
}
.active {
	opacity: .5;
}

#draw {
	position: absolute;
	height: 30px;
	width: 50px;
	margin: 20px 0px 0px 20px;
	z-index: 1;
}

#map-container {
	margin-left: 5%;
}

#cartogram-container {
  float: right;
  width: 35%;
	margin-top: -60px;
  margin-right: 5%;
}

#heatmap-container {
	margin-left: 10px;
	margin-top: 550px;
  text-align: center;
}
